apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules-storage
  namespace: prometheus-ns
data:

  k8s-storage-rules.yml: |
    groups:
      - name: kubernetes-storage-alerts
        rules:
          - alert: PersistentVolumeClaimNotBound
            expr: kube_persistentvolumeclaim_status_phase{phase!="Bound"} == 1
            for: 30s
            labels:
              severity: warning
            annotations:
              summary: "PVC {{ $labels.namespace }}/{{ $labels.persistentvolumeclaim }} 未绑定"
              description: >
                该 PVC 已处于非 Bound 状态超过 30秒。