apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: test-pvc
  namespace: testalert-ns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: nfs-csi