apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-deployment
  namespace: pod-controller
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-deploy
  template:
    metadata:
      labels:
        app: nginx-deploy
    spec:
      containers:
      - name: nginx
        image: shixiaochuangk8s/nginx:1.17.1