apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: prometheus-ns
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    remote_write:
      - url: "http://victoria-metrics.kube-vm-single.svc.cluster.local:8428/api/v1/write"
        queue_config:
          max_samples_per_send: 10000
          max_shards: 10
          capacity: 20000

    alerting:
      alertmanagers:
        - static_configs:
            - targets: []

    rule_files: []

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]
            labels:
              app: "prometheus"

      - job_name: "nodes"
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - source_labels: [__address__]
            regex: '(.*):10250'
            replacement: '${1}:9100'
            target_label: __address__
            action: replace

      - job_name: "victoria-metrics"
        static_configs:
          - targets:
              - victoria-metrics.kube-vm-single.svc.cluster.local:8428
            labels:
              app: "victoria-metrics"