apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: prometheus-ns
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    alerting:
      alertmanagers:
        - static_configs:
            - targets:

    rule_files:

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]
            labels:
              app: "prometheus"       
      - job_name: 'nodes'
        kubernetes_sd_configs:
           - role: node
        relabel_configs:
           - source_labels: [__address__]
             regex: '(.*):10250'
             replacement: '${1}:9100'
             target_label: __address__
             action: replace