apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vm-single-pvc
  namespace: kube-vm-single
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
  storageClassName: nfs-csi